.progressVisualFull {
    display: flex;
   
    height: 8px;
    margin: 5px 0;
    border-radius: 12px ;
  }
  
  .progressVisualPart {
    
    transition: width 4s;
  }
  
  .progressLabel {
    
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  