@tailwind base;
@tailwind components;
@tailwind utilities;

.bgColor{
  background: linear-gradient( to right, #070723, #2B094D, #070723);
  color: rgb(255, 252, 252);

}

.btn {
  border-radius: 35px;
  padding: 5px 20px;
  font-size: 20px;
  font-weight: 500;
  border: 2px solid rgb(112, 3, 146);
  color: #ffffff;
  -webkit-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.common-btn {
  background-color: rgb(54, 9, 106);
  color: #ffffff;
  box-shadow: inset 0 0 0 0 #ffffff;
}
.common-btn:hover {
  box-shadow: inset 0 0 0 50px #ffffff;
  border: 2px solid #ad0efd;
  background-color: rgb(86, 46, 132);
  color: #0c3561;
}

.btn:hover {
  border-color: #5b0b58;
  border: 2px solid #0e82fd;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: rgb(92, 7, 99);
}

*::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 20px;
  border: 3px solid rgb(92, 7, 88);
}